@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 font-dana;
  }
}

@layer components {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .overlay.open {
    opacity: 1;
    visibility: visible;
  }
  .icons-wrapper {
    @apply size-12 cursor-pointer  flex items-center justify-center bg-gray-100 rounded-full text-gray-400;
  }
}

@layer utilities {
  .text-ellipsis {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
